html,
body {
    width: 100%;
}

footer img {
    display: block;
    margin: 0 auto;
}
footer {
    text-align: center;
    color: white;
}
footer p a i,
footer ul li a {
    color: white;
}

.background-overlay {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.home-featured {
    width: 25% !important;
    height: auto !important;
}
.material-icons.dollar {
    color: forestgreen;
    background-color: #eee;
}
.nav-item .img-fluid {
    width: 510px;
    height: 340px;
}
.card-body .input-group input.form-control {
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}