{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Houses {% endblock %}
{% block content %}

      <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static "img/houses/house-18.jpg" %}');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title">Search for your next forever home!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="section">
      <div class="container">
        <h2 class="section-title">Find A Home Based Off Of What You Need</h2>
            <div class="row">
                {% for home in houses %}
              <div class="col-md-4">
                <div class="card card-product card-plain shadow" data-colored-shadow="false">
                  <div class="card-header card-header-image">
                    <a href="{% url 'properties:detail' pk=home.pk %}">
                      <img src="{{ home.photo_main.url }}" alt="{{ home.title }}" width="auto" height="300px">
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title">{{ home.title }}</h4>
                    </a>
                    <p class="description">
                        {{ home.description | truncatewords:50 }}
                    </p>
                  </div>
                  <div class="card-footer justify-content-between">
                    <div class="price-container">
                      <span class="price"><i class="fas fa-dollar-sign" style="color: forestgreen;"></i> {{ home.price | intcomma }} per month</span>
                    </div>
                    <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                      <i class="material-icons">favorite</i>
                    </button>
                  </div>
                </div> <!-- end card -->
              </div>
                {% endfor %}
              <div class="col-md-3 ml-auto mr-auto">
                <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="" title="">Load more...</button>
              </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}