{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
  <div class="page-header header-filter" style="background-image: url(' {% static "kit/assets/img/bg7.jpg" %}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            {% include '_partials/_alerts.html' %}
          <form class="form" method="post" action="{% url 'accounts:login' %}">
              {% csrf_token %}
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Login</h4>
{#                <div class="social-line">#}
{#                  <a href="#" class="btn btn-just-icon btn-link btn-white">#}
{#                    <i class="fa fa-facebook-square"></i>#}
{#                  </a>#}
{#                  <a href="#" class="btn btn-just-icon btn-link btn-white">#}
{#                    <i class="fa fa-twitter"></i>#}
{#                  </a>#}
{#                  <a href="#" class="btn btn-just-icon btn-link btn-white">#}
{#                    <i class="fa fa-google-plus"></i>#}
{#                  </a>#}
{#                </div>#}
              </div>
              <div class="card-body ">
{#                <p class="card-description text-center">Or Be Classical</p>#}
{#                <span class="bmd-form-group">#}
{#                  <div class="input-group">#}
{#                    <div class="input-group-prepend">#}
{#                      <span class="input-group-text">#}
{#                        <i class="material-icons">face</i>#}
{#                      </span>#}
{#                    </div>#}
{#                    <input type="text" class="form-control" placeholder="First Name...">#}
{#                  </div>#}
{#                </span>#}
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Password...">
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <input type="submit" class="btn btn-success btn-lg" value="Login" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}