{% extends 'base.html' %}
{% load static %}
{% block title %} Register{% endblock %}
{% block content %}
  <div class="page-header header-filter" style="background-image: url('{% static "kit/assets/img/bg7.jpg" %}'); background-size: cover; background-position: top center;">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Register</h4>
{#                <div class="social-line">#}
{#                  <a href="#" class="btn btn-just-icon btn-link btn-white">#}
{#                    <i class="fa fa-facebook-square"></i>#}
{#                  </a>#}
{#                  <a href="#" class="btn btn-just-icon btn-link btn-white">#}
{#                    <i class="fa fa-twitter"></i>#}
{#                  </a>#}
{#                  <a href="#" class="btn btn-just-icon btn-link btn-white">#}
{#                    <i class="fa fa-google-plus"></i>#}
{#                  </a>#}
{#                </div>#}
              </div>
            <div class="card-body p-0">
              <div class="row p-0">
                <div class="col-md-5 ml-auto p-0">
                  <div class="info info-horizontal">
                    <div class="icon icon-rose">
                      <i class="material-icons">timeline</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Marketing</h4>
                      <p class="description">
                Accusantium alias consequatur doloremque doloribus, eligendi excepturi in ipsa totam ut voluptates!
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-primary">
                      <i class="material-icons">code</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Fully Coded in HTML5</h4>
                      <p class="description">
               Accusamus aspernatur atque consectetur doloribus harum illum ipsa maxime odio quod voluptas.
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-info">
                      <i class="material-icons">group</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Built Audience</h4>
                      <p class="description">
               Atque, aut autem consequuntur dignissimos eum excepturi facilis laudantium quam reprehenderit vel?
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 mr-auto mt-5">
{#                  <div class="social text-center">#}
{#                    <button class="btn btn-just-icon btn-round btn-twitter">#}
{#                      <i class="fa fa-twitter"></i>#}
{#                    </button>#}
{#                    <button class="btn btn-just-icon btn-round btn-dribbble">#}
{#                      <i class="fa fa-dribbble"></i>#}
{#                    </button>#}
{#                    <button class="btn btn-just-icon btn-round btn-facebook">#}
{#                      <i class="fa fa-facebook"> </i>#}
{#                    </button>#}
{#                    <h4> or be classical </h4>#}
{#                  </div>#}
                  <form class="form" method="post" action="{% url 'accounts:register' %}">
                   {% csrf_token %}
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name">
                      </div>
                    </div>
                      <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                      </div>
                    </div>
                      <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" name="username">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" placeholder="Password" name="password" class="form-control" />
                      </div>
                    </div>
                      <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" placeholder="Confirm Password" name="password2" class="form-control" />
                      </div>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                        I agree to the <a href="#">terms and conditions</a>.
                      </label>
                    </div>
                    <div class="text-center">
                      <input type="submit" class="btn btn-primary btn-round btn-lg" value="Register" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}