{% extends 'base.html' %}
{% load static %}
{% block title %} {{ super }} Welcome to the Rentals App Find Your Next Dream Rental Home {% endblock %}
{% block content %}
       <div class="page-header header-filter" id="landing-page-header-img" data-parallax="true" style="background-image: url('{% static "img/houses/house-12.jpg" %}')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Your Stay Starts With Us.</h1>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut earum fuga hic illo ipsa itaque molestiae quos rem sapiente, se</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              {% include '_partials/_alerts.html' %}
            <h2 class="title">Let&apos;s talk product</h2>
            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Free Chat</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Verified Users</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">fingerprint</i>
                </div>
                <h4 class="info-title">Fingerprint</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section text-center">
        <h2 class="title">Featured</h2>
             <div class="row">
                 {% if homes %}
                 {% for home in homes %}
                <div class="col-md-4">
                    <div class="rotating-card-container">
                        <div class="card card-rotate card-background">
                            <div class="front front-background" style="background-image:url('{{ home.photo_main.url }}');">
                                <div class="card-body">
                                    <h6 class="card-category">Homes Trending</h6>
                                    <a href="#pablo">
                                        <h3 class="card-title">{{ home.title }}</h3>
                                    </a>
                                    <p class="card-description">
                                        {{ home.address }} {{ home.city }}, {{ home.state }} {{ home.zipcode }}
                                    </p>
                                </div>
                            </div>

                            <div class="back back-background" style="background-image: url('{{ home.photo_main.url }}');">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ home.address }} {{ home.city }}, {{ home.state }} {{ home.zipcode }}
                                    </h5>
                                    <p class="card-description">
                                        <i class="fas fa-dollar-sign" style="color: forestgreen"></i> {{ home.price }} <br>
                                        <strong>Beds: </strong>{{ home.bedrooms }} <strong>Baths: </strong>{{ home.bathrooms }} <br>
                                            <strong>SQFT: </strong> {{ home.sqft }} <strong>Lot Size: </strong> {{ home.lot_size }}
                                    </p>
                                    <div class="footer justify-content-center">
                                        <a href="{% url 'properties:detail' pk=home.pk %}" class="btn btn-info btn-just-icon btn-fill btn-round">
                                            <i class="material-icons">subject</i>
                                        </a>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
             {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}