{% extends 'base.html' %}
{% block title %} {{ super }} {% endblock %}
{% block content %}
 <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static "kit/assets/img/bg5.jpg" %}');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Owners</h1>
          <h4>The Opportunities Are Endless With These Home Bearing People</h4>
          <br>
          <a href="#" class="btn btn-info btn-round btn-lg">
            <i class="material-icons">format_align_left</i> More
          </a>
        </div>
      </div>
    </div>
  </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section section-text">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Description</th>
                                    <th>Phone</th>
                                    <th>Reviews</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if owners %}
                                {% for owner in owners %}
                                    <tr>
                                        <td><img src="{{ owner.photo.url }}" alt="{{ owner.name }}" class="img-fluid"></td>
                                        <td>{{ owner.name }}</td>
                                        <td>{{ owner.email }}</td>
                                        <td>{{ owner.description }}</td>
                                        <td>{{ owner.phone }}</td>
                                        <td>...</td>
                                        <td class="td-actions text-right">
                                            <a href="{% url 'owners:profile' pk=owner.pk %}" type="button" rel="tooltip" class="btn btn-info btn-simple">
                                                <i class="material-icons">person</i>
                                            </a>
                                            <a href="#" type="button" rel="tooltip" class="btn btn-success btn-simple">
                                                <i class="material-icons">add</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}